<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactanos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <form action="#">
        <input type="text" placeholder="Decime tu nombre">
        <br>
        <br>
        <textarea name="" id="" cols="60" rows="10" placeholder="comentarios"></textarea>
        <br>
        <fieldset>
            <legend>¿Que tipo de uñas queres?</legend>
				</div>
				<div>Kapping <input type="radio" name="ladoE"></div>
				<div>Gel soft <input type="radio" name="ladoE"></div>
				<div>Acrilicas <input type="radio" name="ladoE"></div>
                <div>Semi permanente <input type="radio" name=ladoE></div>
				<input type="submit" value="ENVIAR"><input type="reset" value="RESETEAME">
			</form>

         <footer class="abajo">
                <a href="../index.html">Volver a la pagina principal</a>
         </footer>
    
</body>
</html>