<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eva-nails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

    <nav>
        <ul class="menu">
        <li class="submenu"><a href="../index.html">Home</a></li>
        <li class="submenu"><a href="#">Quienes somos</a></li>
        <li class="submenu"><a href="./contactanos.html">Contacto</a></li>
        <li class="submenu"><a href=>Nuestros Diseños</a></li>
        </ul>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/img/logo.jpeg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><em>Eva Nails</em></font></font></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NUESTRA HISTORIA.

            Comenzamos en el año 2020 con la idea inicial de crear un spa de manos y pies diferente a lo que se ofrecia en el mercado.
            
            Por eso surge Eva Nails, un lugar que impone moda y estilo para nuestras clientas,con el objetivo de ofrecer un
            
             servicio de calidad, con profesionales de excelencia y un ambiente que invita al placer y la relajación, para que tu experiencia en
            
             nuestro salon sea única!
            
            Por eso te invitamos para que nos conozcas, y disfrutes de una copa de champagne o vino mientras nos encagarmos de lo que mejor
            
             hacemos, embellecer tus manos y pies!
            
            Vení a conocernos! Te esperamos!</font></font></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Botón principal</font></font></button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secundario</font></font></button>
          </div>
        </div>
      </div>

        <h1>UBICACION</h1>
        <tr>
			<td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52563.48442654215!2d-58.462215235055005!3d-34.573355753919756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20CABA!5e0!3m2!1ses!2sar!4v1683677685349!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
		</tr>
		
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>